.page {
  display: flex;
  flex-direction: column;
  block-size: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-inline-size: 1400px;
  margin-inline: auto;
}

.logo {
  color: var(--g-color-text-brand-contrast);
}

.header {
  background-color: var(--g-color-base-brand);
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  padding-inline: 20px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.navLink {
  color: var(--g-color-text-brand-contrast);
  text-decoration: none;

  &:global(.active) {
    border-block-end: 2px solid var(--g-color-text-brand-contrast);
  }
}

.content {
  display: flex;
  flex-grow: 1;
  scrollbar-gutter: stable both-edges;
  overflow-y: auto;
}

.pageContent {
  flex-grow: 1;
  padding: 20px;
}
