.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerSkeleton {
  inline-size: 300px;
  block-size: 20px;
}

.contentSkeleton {
  block-size: 50vh;
}
