@import '@gravity-ui/uikit/styles/fonts.css';
@import '@gravity-ui/uikit/styles/styles.css';

.g-root {
  /* цвета */
  --g-color-base-background: #fff;
  --g-color-base-brand: #0070ff;
  --g-color-base-brand-hover: #2b7fff;
  --g-color-line-brand: #0070ff;
  --g-color-text-brand: #468ffd;
  --g-color-text-brand-contrast: #fff;
  --g-color-text-link: #468ffd;
  --g-color-text-link-hover: #0358d8;
  --g-color-text-link-visited: #9054ea;
  --g-color-text-link-visited-hover: #5a18bf;

  /* радиусы */
  --g-border-radius-xs: 1px;
  --g-border-radius-s: 1px;
  --g-border-radius-m: 2px;
  --g-border-radius-l: 4px;
  --g-border-radius-xl: 4px;
  --g-border-radius-2xl: 8px;

  /* тень */
  --g-box-shadow: 0 6px 16px rgba(0, 0, 0, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
